a {
    text-decoration: none;   

}

.header{
    margin: 0px 10px;

}

.center {

    text-align: center;
}

.right {

    text-align: right;
}

#center{
    margin-top: 180px;

    font-family: Arial;

}

#top{
    font-family: Arial;
    font-size: 13px;

}